<h1>Lieferanteninformationen </h1>

<div *ngIf="loggedUser else default">


<div class ="frame">
  <h3> Profildaten </h3>
    <h4>Unternehmen: </h4>
        {{ loggedUser.company_name }} als <span *ngIf="loggedUser.role=='production' else transport"> Produktionsanbieter. </span> <ng-template #transport> Transportdienstleister. </ng-template>
    <h4>Adresse:</h4>
      <div>
        {{ loggedUser.company_address.nb }} {{ loggedUser.company_address.street }}, {{ loggedUser.company_address.postal_code }} {{ loggedUser.company_address.city }}
      </div>
    
    <span *ngIf="loggedUser.role=='production'">  <h4>Maschinen:</h4>    
    <div>
      <ng-container
       *ngFor="let mach of categories_mach; let i=index"> 
       {{loggedUser.machines[mach]}} mal {{ machine_eq[mach] }}
       <br/>
       </ng-container>
      </div> </span>

      <span *ngIf="loggedUser.role=='transport'">  <h4>Fahrzeuge:</h4>    
    <div>
      <ng-container
       *ngFor="let mach of categories_mach; let i=index"> 
       {{loggedUser.trucks[mach]}} mal {{ machine_eq[mach] }}
       <br/>
       </ng-container>
      </div> </span>


      <span *ngIf="loggedUser.role=='production'">
         <h4>Montagefähigkeiten:</h4>
      <div>
      <ng-container
       *ngFor="let mach of categories_ass; let i=index"> 
       {{ assembly_eq[mach] }}
       <br/>
       </ng-container>
      </div>
       </span>
     

    


 <br/>
 <br/>
  <div class="userPrices">
    <h3>Preis- und Kapazitätsinformationen </h3>
    <ng-container *ngIf="loggedUser.role=='production'"> <span class="higherWeight">Materialkosten:  </span>  {{ capacities.material_cost }} €/kg</ng-container>
    <ng-container *ngFor="let mach of categories; let i=index"> 
      <h4>{{ machine_eq[mach] }}</h4>
      <span class="higherWeight"> Standardpreis: </span> {{ capacities.capacitiesMachine[mach].default_price }} <span *ngIf="loggedUser.role=='production' else transportPrice"> €/Minute </span> <ng-template #transportPrice> €/km </ng-template> <br/>
      <span *ngIf="loggedUser.role=='transport'"> <span class="higherWeight"> Minimalpreis: </span> {{ capacities.capacitiesMachine[mach].min_price }} € </span> 
      <span *ngIf="loggedUser.role=='production'"> <span class="higherWeight"> Rüstkosten: </span> {{ capacities.capacitiesMachine[mach].setup_price }} € </span> 
      <div class="inlineH">
        <div *ngFor="let disc of capacities.capacitiesMachine[mach].discounts" class="discount">
         <div *ngIf="disc.date"> 
           <span class="higherWeight">Startdatum: </span> {{ disc.date }} <br/>
           <span class="higherWeight">Enddatum: </span> {{ disc.enddate }}<br/>
           <span class="higherWeight">Gesamtkapazität (in h): </span> {{ disc.capacity }}<br/>
           <span class="higherWeight">Aufschlag (in %): </span> {{ disc.percentage }}
          </div>
       </div>
     </div>
    </ng-container>
  <br/>
  <br/>
  <button type="button" class="nomargin" (click)="goToPriceManagement()"> Preis und Aufschläge aktualisieren </button>

  </div>
</div>
<div class="center marginTop">
  <button (click)="onSignOut()">Abmelden</button>
</div>
</div>

<ng-template #default> Welcome ! You first need to login to access this page.
</ng-template>

