<h1>Kapazitäts- und Preisverwaltung</h1>


<div *ngIf="loggedUser else default" class="frame">  
  <div id="confirmation" class="center">Die Daten wurden gespeichert  </div>

  <div *ngIf="loggedUser.role=='production'" class="borderBottom">
    <h3> Materialkosten</h3>
    <div class="inline onLeft">
      <label class="onTheLeft"> Preis pro kg (in €):</label>
      <input type="number" class="onTheLeft" id="materialKost" #materialKost>
      <button type="button" (click)="onSubmitMaterialPrice(materialKost)"> Materialkosten aktualisieren </button> <br/><br/>
    </div>
    <br/><br/>
    Zusammengefasste Planung für alle <span *ngIf="loggedUser.role=='production' else transportPrice"> Maschinen </span> <ng-template #transportPrice> Fahrzeuge </ng-template> des selben Typs:
    <br/><br/>
  </div>

  
  
  <div *ngFor="let item of categories; let k=index" class="borderBottom">
    <h3>{{ machine_eq[item] }} </h3>
    

    <div class="inline onLeft">
      <label for="preis" class="onTheLeft">Standardpreis <span *ngIf="loggedUser.role=='production' else transportPrice"> (€/Minute) </span> <ng-template #transportPrice> (€/km) </ng-template>: </label>
      <input type="number" class="onTheLeft" id="preis" #preis > 
      <button type="button" (click)="onSubmitPrice(preis, k)"> Standardpreis aktualisieren </button>
    </div>

    <div class="inline onLeft"  *ngIf="loggedUser.role=='transport'" >
      <label for="minpreis" class="onTheLeft"> Minimalpreis (€): </label>
      <input type="number" class="onTheLeft" id="minpreis" #minpreis > 
      <button type="button" (click)="onSubmitMinPrice(minpreis, k)"> Minimalpreis aktualisieren </button>
    </div>

     <div class="inline onLeft"  *ngIf="loggedUser.role=='production'" >
      <label for="setuppreis" class="onTheLeft"> Rüstkosten (€): </label>
      <input type="number" class="onTheLeft" id="setuppreis" #setuppreis > 
      <button type="button" (click)="onSubmitSetupPrice(setuppreis, k)"> Rüstkosten aktualisieren </button>
    </div>

  <form [formGroup]="priceManagementForm" (ngSubmit) = "onSubmitDiscounts(priceManagementForm.value, k)" class="noborder">
    <div formArrayName="discounts">
      <h4> Zeitplanung (für eine individuelle Maschine) </h4>
    
      <div  *ngFor="let adress of priceManagementForm.controls.discounts.controls;   let i = index"      [formGroupName]="i">
        <div class="inline onLeft">
          <label for= "von1"  class="onTheLeft"> Vom:</label>
          <input type="date" class="onTheLeft" id="von1" formControlName="date">  
        </div>
        
         <div class="inline onLeft">
          <label for="bis1" class="onTheLeft">Bis:</label>
          <input type="date" class="onTheLeft" id="bis1" formControlName="enddate">
      
        </div>
        <div class="inline onLeft">
          <label for="avail" class="onTheLeft">Nicht verfügbar </label>
          <input type="checkbox"  class="onTheLeft" id="avail" formControlName="availability"> 
        </div>
        
        
        <div class="inline onLeft">
          <label for="kapazität1" class="onTheLeft">Gesamtkapazität (in h):</label>
          <input type="number"  class="onTheLeft" id="kapazität1" formControlName="capacity"> 
        </div>
        
       
        <div class="inline onLeft">
          <label for="aufschlag1" class="onTheLeft">Aufschlag (in %):</label>
          <input type="number"    class="onTheLeft" id="aufschlag1" formControlName="percentage"> 
        </div>
      
      

       
        <br/><br/>
      </div>
    </div>
    

    <div class="inline onLeft sonderperiod">
      <button type="button" class="nomargin" (click)="addDiscounts(k)"> Weitere Zeile </button>
      <button type="submit">Sonderperioden aktualisieren</button>
    </div>
  </form>
  </div>
  <div>
    <br/> <br/>
    <button type="button" class="nomargin colorOther" (click)="goToUserStats()"> Zurück zu Lieferanteninformationen </button>
  </div>
</div>

<ng-template #default> 
  Welcome ! You first need to register...
</ng-template>
